:root {
  --color-primary: #E27D60;
  --color-primary-light: #F09A84;
  --color-primary-dark: #C1614D;

  --color-secondary: #85C1E9;
  --color-secondary-light: #A9D2F0;
  --color-secondary-dark: #5FAAD8;

  --color-bg: #F8F3EB; 
  --color-bg-alt: #FFFFFF; 
  --color-text: #2E2E2E; 
  --color-text-light: #6E6E6E; 
  --color-border: #E0E0E0; 

  --color-success: #4CAF50;
  --color-warning: #FFC107;
  --color-error: #E53935;
  --color-info: #03A9F4;

  --font-family-base: 'Manrope', Arial, sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  --radius-pequeño: 4px;
  --radius-medio: 8px;
  --radius-alto: 16px;
  --sombra-baja: 0 1px 3px rgba(0, 0, 0, 0.1);
  --sombra-media: 0 4px 6px rgba(0, 0, 0, 0.1);
  --sombra-alta: 0 8px 16px rgba(0, 0, 0, 0.15);

  /* Variables del modo oscuro en caso de querer agregar esa funcionalidad (avisar)*/
  --color-bg-dark: #1E1E1E;
  --color-text-dark: #FFFFFF;
  --color-primary-darkmode: #F4976C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}

.boton-primario {
  background-color: var(--color-primary); 
  color: var(--color-bg-alt); 
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-medio);
  padding: var(--space-sm) var(--space-md);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-primario:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light); 
  color: var(--color-bg);
  box-shadow: var(--sombra-baja);
}

.boton-primario:active {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.boton-secundario {
  background-color: var(--color-secondary);
  color: var(--color-bg-alt);
  border: 2px solid var(--color-secondary);
  border-radius: var(--radius-medio); 
  padding: var(--space-sm) var(--space-md); 
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.boton-secundario:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
  color: var(--color-bg);
  box-shadow: var(--sombra-baja); 
}

.boton-secundario:active {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}